APP_ENV=local
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3307
DB_DATABASE=loja_virtual_db
DB_USERNAME=root
DB_PASSWORD=

APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/loja_online

MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
MERCADO_PAGO_USE_SANDBOX=true


# APP_ENV=production
# APP_DEBUG=false
# APP_URL=https://professoreugenio.sysaluno.com
# DB_HOST=localhost
# DB_PORT=3306
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=



APP_KEY = 1a06ce559f0bec8d10d419b651f5e6208fda5da4fde1959db573809c5984baf1
